# About This...
12/4/23 RR

caveats re: 200 records and offset...
2018 to 2022

# 1) Review Data Documentation

<strong>OSHA Enforcement Data</strong><br>
https://enforcedata.dol.gov/views/data_summary.php<br>

<strong>Data Dictionary</strong><br>
https://developer.dol.gov/health-and-safety/dol-osha-enforcement/#osha_inspection<br>

<strong>API Developer Guide</strong><br>
https://developer.dol.gov/accessing-the-apis-using-http-requests/#apiv2

API Request Documentation https://developer.dol.gov/accessing-the-apis-using-http-requests/#apiv2

sample request:
<blockquote>curl -H "X-API-KEY: YOUR_API_KEY" https://data.dol.gov/get/ALIAS/filtername1/filtervalue1/filtername2/filtervalue2

# 2) Request and Review OSHA Inspections Data

I needed to register with the Department of Labor to get an API key at<br>
https://devtools.dol.gov/developer/Account/Register

In [1]:
my_key = {"X-API-KEY": "496af341-1976-48ab-91e7-19bdfccfe825"}

In [2]:
# import necessary Python libraries

import pandas as pd
import requests

### Request Inspection Data

In [3]:
url = "https://data.dol.gov/get/inspection/date_column/OPEN_DATE/start_date/01-JAN-18/end_date/31-DEC-22/filter_column/SITE_STATE=IL:SITE_CITY=SPRINGFIELD"
response = requests.get(url, headers=my_key)
data = response.json()
response

In [4]:
#look at first record
data[0]

{'ACTIVITY_NR': '342934890',
 'REPORTING_ID': '0524500',
 'STATE_FLAG': '',
 'ESTAB_NAME': 'SPRINGFIELD FARM & HOME SUPPLY, INC.',
 'SITE_ADDRESS': '2804 N. DIRKSEN PKWY',
 'SITE_CITY': 'SPRINGFIELD',
 'SITE_STATE': 'IL',
 'SITE_ZIP': '62702',
 'OWNER_TYPE': 'A',
 'OWNER_CODE': '',
 'ADV_NOTICE': 'N',
 'SAFETY_HLTH': 'S',
 'SIC_CODE': '',
 'NAICS_CODE': '452990',
 'INSP_TYPE': 'B',
 'INSP_SCOPE': 'B',
 'WHY_NO_INSP': 'I',
 'UNION_STATUS': 'B',
 'SAFETY_MANUF': '',
 'SAFETY_CONST': '',
 'SAFETY_MARIT': '',
 'HEALTH_MANUF': '',
 'HEALTH_CONST': '',
 'HEALTH_MARIT': '',
 'MIGRANT': '',
 'MAIL_STREET': '2804 N. DIRKSEN PKWY',
 'MAIL_CITY': 'SPRINGFIELD',
 'MAIL_STATE': 'IL',
 'MAIL_ZIP': '62702',
 'HOST_EST_KEY': 'HOST_EST_KEY_VALUE',
 'NR_IN_ESTAB': '40',
 'OPEN_DATE': '08-FEB-18',
 'CASE_MOD_DATE': '03-DEC-23',
 'CLOSE_CONF_DATE': '08-FEB-18',
 'CLOSE_CASE_DATE': '25-FEB-19',
 'LOAD_DT': '04-DEC-23',
 'RNUM': '1'}

In [5]:
#create dataframe
df_inspections = pd.DataFrame(data)
df_inspections.head()

,ACTIVITY_NR,REPORTING_ID,STATE_FLAG,ESTAB_NAME,SITE_ADDRESS,SITE_CITY,SITE_STATE,SITE_ZIP,OWNER_TYPE,OWNER_CODE,...,MAIL_STATE,MAIL_ZIP,HOST_EST_KEY,NR_IN_ESTAB,OPEN_DATE,CASE_MOD_DATE,CLOSE_CONF_DATE,CLOSE_CASE_DATE,LOAD_DT,RNUM
0,342934890,0524500,,"SPRINGFIELD FARM & HOME SUPPLY, INC.",2804 N. DIRKSEN PKWY,SPRINGFIELD,IL,62702,A,,...,IL,62702,HOST_EST_KEY_VALUE,40,08-FEB-18,03-DEC-23,08-FEB-18,25-FEB-19,04-DEC-23,1
1,342965498,0524500,,"FRIENDLY CHEVROLET, INC.",2450 PRAIRIE CROSSING DRIVE,SPRINGFIELD,IL,62711,A,,...,IL,62711,HOST_EST_KEY_VALUE,90,22-FEB-18,03-DEC-23,22-FEB-18,16-MAY-19,04-DEC-23,2
2,342997244,0524500,,"AMERICAN MULTI-CINEMA, INC.",3141 MERCANTILE DRIVE,SPRINGFIELD,IL,62704,A,,...,IL,62704,HOST_EST_KEY_VALUE,24,07-MAR-18,03-DEC-23,07-MAR-18,16-APR-18,04-DEC-23,3
3,343056065,0524500,,"WEBER BUILDERS AND RENOVATORS, INC.",1308 S 2ND ST.,SPRINGFIELD,IL,62704,A,,...,IL,62703,HOST_EST_KEY_VALUE,4,30-MAR-18,03-DEC-23,30-MAR-18,23-DEC-19,04-DEC-23,4
4,343056156,0524500,,HUGO ESTRADA,3000 SOUTH GRAND AVE.,SPRINGFIELD,IL,62703,A,,...,TX,77531,HOST_EST_KEY_VALUE,4,30-MAR-18,03-DEC-23,30-MAR-18,27-APR-22,04-DEC-23,5

In [6]:
# count records. If <200 then don't need another request
len(df_inspections)

187

In [7]:
df_inspections.dtypes

ACTIVITY_NR        object
REPORTING_ID       object
STATE_FLAG         object
ESTAB_NAME         object
SITE_ADDRESS       object
SITE_CITY          object
SITE_STATE         object
SITE_ZIP           object
OWNER_TYPE         object
OWNER_CODE         object
ADV_NOTICE         object
SAFETY_HLTH        object
SIC_CODE           object
NAICS_CODE         object
INSP_TYPE          object
INSP_SCOPE         object
WHY_NO_INSP        object
UNION_STATUS       object
SAFETY_MANUF       object
SAFETY_CONST       object
SAFETY_MARIT       object
HEALTH_MANUF       object
HEALTH_CONST       object
HEALTH_MARIT       object
MIGRANT            object
MAIL_STREET        object
MAIL_CITY          object
MAIL_STATE         object
MAIL_ZIP           object
HOST_EST_KEY       object
NR_IN_ESTAB        object
OPEN_DATE          object
CASE_MOD_DATE      object
CLOSE_CONF_DATE    object
CLOSE_CASE_DATE    object
LOAD_DT            object
RNUM               object
dtype: object

In [8]:
#convert ACTIVITY_NR to integer to facilitate matching
# df_inspections['ACTIVITY_NR'] = df_inspections['ACTIVITY_NR'].astype(int)

# 3) Request and Review OSHA Violations Data

In [9]:
url = "https://data.dol.gov/get/violation"
response = requests.get(url, headers=my_key)
data = response.json()
response

In [10]:
#look at first record
data[0]

{'ACTIVITY_NR': '308258078',
 'CITATION_ID': '01002',
 'DELETE_FLAG': 'X',
 'STANDARD': '19100038 B05',
 'VIOL_TYPE': 'S',
 'ISSUANCE_DATE': '23-MAY-05',
 'ABATE_DATE': '24-SEP-08',
 'ABATE_COMPLETE': 'X',
 'CURRENT_PENALTY': '',
 'INITIAL_PENALTY': '',
 'CONTEST_DATE': '15-JUN-05',
 'FINAL_ORDER_DATE': '22-OCT-07',
 'NR_INSTANCES': '1',
 'NR_EXPOSED': '1180',
 'REC': '',
 'GRAVITY': '05',
 'EMPHASIS': '',
 'HAZCAT': '',
 'FTA_INSP_NR': '',
 'FTA_ISSUANCE_DATE': '',
 'FTA_PENALTY': '',
 'FTA_CONTEST_DATE': '',
 'FTA_FINAL_ORDER_DATE': '',
 'HAZSUB1': '',
 'HAZSUB2': '',
 'HAZSUB3': '',
 'HAZSUB4': '',
 'HAZSUB5': '',
 'LOAD_DT': '14-OCT-11',
 'RNUM': '1'}

In [11]:
#create dataframe
df_violations = pd.DataFrame(data)
df_violations.head()

,ACTIVITY_NR,CITATION_ID,DELETE_FLAG,STANDARD,VIOL_TYPE,ISSUANCE_DATE,ABATE_DATE,ABATE_COMPLETE,CURRENT_PENALTY,INITIAL_PENALTY,...,FTA_PENALTY,FTA_CONTEST_DATE,FTA_FINAL_ORDER_DATE,HAZSUB1,HAZSUB2,HAZSUB3,HAZSUB4,HAZSUB5,LOAD_DT,RNUM
0,308258078,01002,X,19100038 B05,S,23-MAY-05,24-SEP-08,X,,,...,,,,,,,,,14-OCT-11,1
1,308258086,01001A,,19100106 B06,S,24-MAY-05,12-JUL-05,X,1000,1000,...,,,,,,,,,14-OCT-11,2
2,308258086,01001B,,19100106 E09 III,S,24-MAY-05,12-JUL-05,X,,,...,,,,,,,,,14-OCT-11,3
3,308258086,02001,,19100038 B01,O,24-MAY-05,27-MAY-05,X,,,...,,,,,,,,,14-OCT-11,4
4,308258086,02002,,19101200 E01,O,24-MAY-05,12-JUL-05,X,,,...,,,,,,,,,14-OCT-11,5

# 4) Request Violation Data Matching Inspections

In [12]:
api_url = "https://data.dol.gov/get/violation/filter_column/ACTIVITY_NR=342934890"
response = requests.get(api_url, headers=my_key)
data = response.json()
response

In [13]:
data

[{'ACTIVITY_NR': '342934890',
  'CITATION_ID': '01001A',
  'DELETE_FLAG': '',
  'STANDARD': '19100029 B02 I',
  'VIOL_TYPE': 'S',
  'ISSUANCE_DATE': '09-MAR-18',
  'ABATE_DATE': '26-MAR-18',
  'ABATE_COMPLETE': '2',
  'CURRENT_PENALTY': '3000',
  'INITIAL_PENALTY': '6467',
  'CONTEST_DATE': '',
  'FINAL_ORDER_DATE': '26-MAR-18',
  'NR_INSTANCES': '1',
  'NR_EXPOSED': '2',
  'REC': '',
  'GRAVITY': '5',
  'EMPHASIS': '',
  'HAZCAT': '',
  'FTA_INSP_NR': '',
  'FTA_ISSUANCE_DATE': '',
  'FTA_PENALTY': '',
  'FTA_CONTEST_DATE': '',
  'FTA_FINAL_ORDER_DATE': '',
  'HAZSUB1': '',
  'HAZSUB2': '',
  'HAZSUB3': '',
  'HAZSUB4': '',
  'HAZSUB5': '',
  'LOAD_DT': '04-DEC-23',
  'RNUM': '1'},
 {'ACTIVITY_NR': '342934890',
  'CITATION_ID': '01001B',
  'DELETE_FLAG': '',
  'STANDARD': '19260451 C02 V',
  'VIOL_TYPE': 'S',
  'ISSUANCE_DATE': '09-MAR-18',
  'ABATE_DATE': '26-MAR-18',
  'ABATE_COMPLETE': '2',
  'CURRENT_PENALTY': '0',
  'INITIAL_PENALTY': '0',
  'CONTEST_DATE': '',
  'FINAL_ORDER_DATE': '26-MAR-18',
  'NR_INSTANCES': '1',
  'NR_EXPOSED': '1',
  'REC': 'C',
  'GRAVITY': '5',
  'EMPHASIS': '',
  'HAZCAT': '',
  'FTA_INSP_NR': '',
  'FTA_ISSUANCE_DATE': '',
  'FTA_PENALTY': '',
  'FTA_CONTEST_DATE': '',
  'FTA_FINAL_ORDER_DATE': '',
  'HAZSUB1': '',
  'HAZSUB2': '',
  'HAZSUB3': '',
  'HAZSUB4': '',
  'HAZSUB5': '',
  'LOAD_DT': '04-DEC-23',
  'RNUM': '2'},
 {'ACTIVITY_NR': '342934890',
  'CITATION_ID': '01002A',
  'DELETE_FLAG': '',
  'STANDARD': '19100178 L02 II',
  'VIOL_TYPE': 'S',
  'ISSUANCE_DATE': '09-MAR-18',
  'ABATE_DATE': '26-MAR-18',
  'ABATE_COMPLETE': '2',
  'CURRENT_PENALTY': '2300',
  'INITIAL_PENALTY': '5174',
  'CONTEST_DATE': '',
  'FINAL_ORDER_DATE': '26-MAR-18',
  'NR_INSTANCES': '1',
  'NR_EXPOSED': '3',
  'REC': '',
  'GRAVITY': '5',
  'EMPHASIS': '',
  'HAZCAT': '',
  'FTA_INSP_NR': '',
  'FTA_ISSUANCE_DATE': '',
  'FTA_PENALTY': '',
  'FTA_CONTEST_DATE': '',
  'FTA_FINAL_ORDER_DATE': '',
  'HAZSUB1': '',
  'HAZSUB2': '',
  'HAZSUB3': '',
  'HAZSUB4': '',
  'HAZSUB5': '',
  'LOAD_DT': '04-DEC-23',
  'RNUM': '3'},
 {'ACTIVITY_NR': '342934890',
  'CITATION_ID': '01002B',
  'DELETE_FLAG': '',
  'STANDARD': '19100178 L06',
  'VIOL_TYPE': 'S',
  'ISSUANCE_DATE': '09-MAR-18',
  'ABATE_DATE': '26-MAR-18',
  'ABATE_COMPLETE': '2',
  'CURRENT_PENALTY': '0',
  'INITIAL_PENALTY': '0',
  'CONTEST_DATE': '',
  'FINAL_ORDER_DATE': '26-MAR-18',
  'NR_INSTANCES': '1',
  'NR_EXPOSED': '3',
  'REC': '',
  'GRAVITY': '5',
  'EMPHASIS': '',
  'HAZCAT': '',
  'FTA_INSP_NR': '',
  'FTA_ISSUANCE_DATE': '',
  'FTA_PENALTY': '',
  'FTA_CONTEST_DATE': '',
  'FTA_FINAL_ORDER_DATE': '',
  'HAZSUB1': '',
  'HAZSUB2': '',
  'HAZSUB3': '',
  'HAZSUB4': '',
  'HAZSUB5': '',
  'LOAD_DT': '04-DEC-23',
  'RNUM': '4'}]

In [26]:
df_linked_violations = pd.DataFrame()

In [29]:
#     api_url = f"https://data.dol.gov/get/.violation/filter_column/ACTIVITY_NR={row['ACTIVITY_NR']}"
    
for index, row in df_inspections.iterrows():
    print(row['ACTIVITY_NR'])
    api_url = f"https://data.dol.gov/get/violation/filter_column/ACTIVITY_NR={row['ACTIVITY_NR']}"
    response = requests.get(api_url, headers=my_key)  # Make the request

    if response.status_code == 200:
        try:
            df_next = pd.json_normalize(response.json())
            df_linked_violations = pd.concat([df_linked_violations, df_next], ignore_index=True)
        except ValueError:
            print('Decoding JSON has failed')
    else:
        print(f"Error {response.status_code}: {response.text}")

342934890
342965498
342997244
343056065
343056156
343055018
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343099636
343097499
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343096996
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343125514
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343136396
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343214144
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343214516
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343299707
343299368
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343308557
343308672
343327730
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343362034
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343363099
343361838
343393617
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343415071
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343482709
343423224
343430302
343446829
343465365
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343460580
343489027
343472478
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343486478
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343509626
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343520565
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343577128
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343575676
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343602512
343602249
343681227
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343722666
343736252
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343762167
343772703
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343772737
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343772687
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343794889
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343811253
343811675
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343853024
343846218
343846382
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343856498
343873378
343889028
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343889341
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343904637
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343904652
343912341
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343922274
343926192
343922944
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343941985
343945283
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343964607
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343964557
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343972659
343976114
343991527
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344014543
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
343987251
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344033147
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344049135
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344063383
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344113766
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344109277
344113709
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344113840
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344138672
344148176
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344171913
344171442
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344182704
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344218060
344233366
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344265400
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344255716
344272877
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344296371
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344322771
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344377007
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344431366
344437744
344459532
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344459730
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344560032
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344560065
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344625827
344625744
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344661145
344627195
344625124
344625447
344623335
344693239
344756309
344757729
344789110
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344846605
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344926985
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344884523
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344899562
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344936679
344941364
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344974225
344990916
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
344999495
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345019533
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345046551
345074272
345077184
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345085245
345146245
345176036
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345198402
345198436
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345262349
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345278477
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345281869
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345290381
345289136
345291777
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345331268
345339444
345360317
345388052
345425276
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345484885
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345507545
345507503
345511570
345518096
345535991
345536874
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345551055
345574784
345600522
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345600555
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345632608
345652374
345658488
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345670970
345692032
345782171
345779789
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345801930

345833925
345886998
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345903173
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345901227
345914071
345934863
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345951750
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345951909
345972525
345975221
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
345996524
345996599
345997738
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346026545
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346050933
346486400
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346080633
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346083249
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346090905
346106842
346131485
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346159684
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346208630
346334717
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346336860
346357163
346357247
346357296
346357346
346357429
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346363476
Error 400: {
    "status": "",
    "message": "No data available, check request"
}
346396260

In [30]:
df_linked_violations.head()

,ACTIVITY_NR,CITATION_ID,DELETE_FLAG,STANDARD,VIOL_TYPE,ISSUANCE_DATE,ABATE_DATE,ABATE_COMPLETE,CURRENT_PENALTY,INITIAL_PENALTY,...,FTA_PENALTY,FTA_CONTEST_DATE,FTA_FINAL_ORDER_DATE,HAZSUB1,HAZSUB2,HAZSUB3,HAZSUB4,HAZSUB5,LOAD_DT,RNUM
0,342934890,01001A,,19100029 B02 I,S,09-MAR-18,26-MAR-18,2,3000,6467,...,,,,,,,,,04-DEC-23,1
1,342934890,01001B,,19260451 C02 V,S,09-MAR-18,26-MAR-18,2,0,0,...,,,,,,,,,04-DEC-23,2
2,342934890,01002A,,19100178 L02 II,S,09-MAR-18,26-MAR-18,2,2300,5174,...,,,,,,,,,04-DEC-23,3
3,342934890,01002B,,19100178 L06,S,09-MAR-18,26-MAR-18,2,0,0,...,,,,,,,,,04-DEC-23,4
4,342965498,01001,,19100147 F01 V,S,24-MAY-18,25-JUN-18,2,5500,9054,...,,,,,,,,,04-DEC-23,1

# 5) Save Datasets

In [33]:
df_inspections.to_csv("../results/springfield-il-inspections-2018-2022.csv")

In [32]:
df_linked_violations.to_csv("../results/springfield-il-violations-2018-2022.csv")