# Analyze OSHA Violations for Springfield, IL 2018-2022
5 December 2023

### Summary of Findings
<ul>
    <li>Bunn-O-Matic has the most number of inspection citations in Springfield from 2018 to 2022, with 9 at their 1400 Adlai Stevenson facility and 1 at the 1200 Bunn Ave.
        <li>Their total penalties, $59,490 plus $13,674. About half paid
            </ul>

### Next Steps for Improving This Analysis
...TBD

# 1) Summarize OSHA Violations

In [16]:
import pandas as pd

### import and review inspections and violations

In [17]:
df_inspections = pd.read_csv("../data/springfield-il-inspections-2018-2022-edit.csv")
df_inspections_simple = df_inspections[['ACTIVITY_NR','ESTAB_NAME','SITE_CITY','SITE_ZIP','SITE_ADDRESS','INSP_TYPE','INSP_DESC']]
#df_inspections.dtypes
df_inspections_simple.dtypes

ACTIVITY_NR      int64
ESTAB_NAME      object
SITE_CITY       object
SITE_ZIP         int64
SITE_ADDRESS    object
INSP_TYPE       object
INSP_DESC       object
dtype: object

In [18]:
df_violations = pd.read_csv("../data/springfield-il-violations-2018-2022.csv")
df_violations.dtypes

Unnamed: 0                int64
ACTIVITY_NR               int64
CITATION_ID              object
DELETE_FLAG              object
STANDARD                 object
VIOL_TYPE                object
ISSUANCE_DATE            object
ABATE_DATE               object
ABATE_COMPLETE          float64
CURRENT_PENALTY         float64
INITIAL_PENALTY           int64
CONTEST_DATE             object
FINAL_ORDER_DATE         object
NR_INSTANCES              int64
NR_EXPOSED                int64
REC                      object
GRAVITY                 float64
EMPHASIS                float64
HAZCAT                  float64
FTA_INSP_NR             float64
FTA_ISSUANCE_DATE       float64
FTA_PENALTY             float64
FTA_CONTEST_DATE        float64
FTA_FINAL_ORDER_DATE    float64
HAZSUB1                 float64
HAZSUB2                 float64
HAZSUB3                 float64
HAZSUB4                 float64
HAZSUB5                 float64
LOAD_DT                  object
RNUM                      int64
dtype: object

### Springfield-Wide Totals

In [87]:
len(df_violations)

295

In [86]:
df_violations[['INITIAL_PENALTY','CURRENT_PENALTY']].sum(axis=0).reset_index()

             index          0
0  INITIAL_PENALTY  1187467.0
1  CURRENT_PENALTY   776941.8

### merge inspections with violations

In [51]:
# outer join to include only inspections with violations
df = pd.merge(df_inspections_simple, df_violations, on='ACTIVITY_NR')

In [52]:
df.head()

,ACTIVITY_NR,ESTAB_NAME,SITE_CITY,SITE_ZIP,SITE_ADDRESS,INSP_TYPE,INSP_DESC,Unnamed: 0,CITATION_ID,DELETE_FLAG,...,FTA_PENALTY,FTA_CONTEST_DATE,FTA_FINAL_ORDER_DATE,HAZSUB1,HAZSUB2,HAZSUB3,HAZSUB4,HAZSUB5,LOAD_DT,RNUM
0,342934890,"SPRINGFIELD FARM & HOME SUPPLY, INC.",SPRINGFIELD,62702,2804 N. DIRKSEN PKWY,B,Complaint,0,01001A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04-DEC-23,1
1,342934890,"SPRINGFIELD FARM & HOME SUPPLY, INC.",SPRINGFIELD,62702,2804 N. DIRKSEN PKWY,B,Complaint,1,01001B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04-DEC-23,2
2,342934890,"SPRINGFIELD FARM & HOME SUPPLY, INC.",SPRINGFIELD,62702,2804 N. DIRKSEN PKWY,B,Complaint,2,01002A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04-DEC-23,3
3,342934890,"SPRINGFIELD FARM & HOME SUPPLY, INC.",SPRINGFIELD,62702,2804 N. DIRKSEN PKWY,B,Complaint,3,01002B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04-DEC-23,4
4,342934890,"SPRINGFIELD FARM & HOME SUPPLY, INC.",SPRINGFIELD,62702,2804 N. DIRKSEN PKWY,B,Complaint,14,01001A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04-DEC-23,1

### summarize violations by site

In [80]:
#count total number of complaints by site
df_violations_by_site = df.groupby(['SITE_ADDRESS','ESTAB_NAME']).agg({
    'ACTIVITY_NR': 'nunique',  # Count of unique inspections
    'CITATION_ID': 'count',  # Count of citations
    'INITIAL_PENALTY': 'sum',
    'CURRENT_PENALTY': 'sum', 
     'ISSUANCE_DATE': 'max'  # latest citation
})
df_violations_by_site.reset_index(inplace=True)

### top offenders by number of citations

In [81]:
df_violations_by_site.sort_values(by='CITATION_ID', ascending=False).head(10)

,SITE_ADDRESS,ESTAB_NAME,ACTIVITY_NR,CITATION_ID,INITIAL_PENALTY,CURRENT_PENALTY,ISSUANCE_DATE
37,3100 STEVENSON DRIVE,CITY OF SPRINGFIELD - CWLP - DALLMAN POWERPLANT,1,13,0,0.0,01-NOV-21
71,580 NORTH ST.,"CAST INDUSTRIES, INC.",4,10,47880,26614.8,28-JAN-21
33,3000 SOUTH GRAND AVE.,HUGO ESTRADA,1,10,18316,18316.0,25-JUN-18
8,1400 ADLAI STEVENSON DRIVE,BUNN-O-MATIC CORPORATION,1,9,59490,35109.0,22-NOV-21
29,2804 N. DIRKSEN PKWY,"SPRINGFIELD FARM & HOME SUPPLY, INC.",1,8,23282,10600.0,09-MAR-18
24,2500 RICHARDS LN.,"CERTIFIED TANK & MANUFACTURING, LLC.",1,8,20288,12170.0,12-DEC-19
26,2571 S KOKE MILL RD.,"GALASSI MASONRY CONTRACTORS, INC.",1,8,14535,11009.0,21-JUL-20
53,3805 N DIRKSEN,SCOOTER'S LAWN CARE INC.,1,8,7957,4774.0,08-NOV-19
80,950 S LINCOLN,RAMIRO PEREZ SEGURA,1,7,19345,11698.0,28-JUL-22
60,4050 NORTH COLOR PLANT RD,"SOLOMON COLORS, INC.",2,7,61090,28162.0,27-AUG-20

### top offenders by total penalties

In [89]:
df_violations_by_site.sort_values(by='INITIAL_PENALTY', ascending=False).head(10)

,SITE_ADDRESS,ESTAB_NAME,ACTIVITY_NR,CITATION_ID,INITIAL_PENALTY,CURRENT_PENALTY,ISSUANCE_DATE
79,908 S MARTIN LUTHER KING JR DR,SMITH GENERAL CONTRACTING INC.,1,1,63812,63812.0,18-JAN-22
60,4050 NORTH COLOR PLANT RD,"SOLOMON COLORS, INC.",2,7,61090,28162.0,27-AUG-20
8,1400 ADLAI STEVENSON DRIVE,BUNN-O-MATIC CORPORATION,1,9,59490,35109.0,22-NOV-21
28,2601 COLT ROAD,"PRAIRIE SMOKEHOUSE PARTNERS, LLC",1,6,53866,32320.0,09-FEB-22
34,3013 FOX BRIDGE ROAD,UNITED STATES POSTAL SERVICE,1,1,48765,2450.0,20-APR-21
71,580 NORTH ST.,"CAST INDUSTRIES, INC.",4,10,47880,26614.8,28-JAN-21
43,3167 ROBBINS ROAD,"BLACKHAWK ROOFING, LLC",1,5,44980,20000.0,30-SEP-22
74,701 SOUTH 4TH STREET,"HAROLD O'SHEA BUILDERS, INC.",1,3,40482,31988.0,02-APR-20
25,2560 WABASH AVENUE,"SKYLINE ROOFING AND SHEET METAL COMPANY, INCOR...",1,2,35007,22500.0,15-MAY-19
17,2000 E CORNELL AVE,HART - CLAYTON INC.,1,7,30969,17033.0,17-JUL-20

In [71]:
df_violations_by_site.to_csv("../results/springfield-violations-by-company-2018-2022.csv")